Pane{
       -fx-background-color: linear-gradient(to top right, #31D35C, #2BB7DA);
}
.dashBoard{
       -fx-background-color: transparent;
       -fx-font-size: 20px;
       -fx-font-weight:700;

}
.clientsInfo{
       -fx-background-color: transparent;
       -fx-font-size: 20px;
       -fx-cursor: pointer;

-fx-font-weight:700;

}
.orders{
       -fx-background-color: transparent;
       -fx-font-size: 20px;
       -fx-font-weight:700;
}
.inventory{
       -fx-background-color: transparent;
       -fx-font-size: 20px;
       -fx-font-weight:700;
}
.dashBoard:hover,.clientsInfo:hover,.orders:hover,.inventory:hover,
.menuBtns:hover{
       -fx-background-color: teal;
       -fx-cursor: hand;
}
.menuBtns{
    -fx-background-color:transparent;
}




/*
.shippedMenuItem,.outMenuItem,.paymentMenuItem,.allMenuItem{
       -fx-font-size: 10px;
       -fx-text-alignment:center;
       -fx-padding-left:0 15px;
}
.shippedMenuItem{

       -fx-text-fill: red;
       -fx-background-color:green;
}
.outMenuItem:pressed,.paymentMenuItem:pressed,.allMenuItem:pressed{

       -fx-background-color:red;
}

.outMenuItem:hover,.paymentMenuItem:hover,.allMenuItem:hover{

       -fx-background-color:rgb(157, 255, 0);
}
items:active{

  -fx-background-color:red;
}
*/