#leftArrow{
    -fx-background-image: url("images/LeftArrow.png");
    -fx-background-repeat: stretch;
}

#rightArrow{
    -fx-background-image: url("images/rightArrow.png");
    -fx-background-repeat: stretch;
}

#More{
    -fx-background-image: url("images/Options.png");
        -fx-background-repeat: stretch;
}

#Support{
    -fx-background-image: url("images/Contact.png");
        -fx-background-repeat: stretch;
}

#Settings{
    -fx-background-image: url("images/Settings.png");
        -fx-background-repeat: stretch;
}

#Cart{
    -fx-background-image: url("images/Cart.png");
    -fx-background-repeat: stretch;
}

#userBtn{
    -fx-background-image: url("images/User_Icon.png");
    -fx-background-repeat: stretch;
}