.root
{
    -fx-focus-color:transparent;
    -fx-faint-focus:transparent;
}
.secondColumn
{
    -fx-background-color: linear-gradient(to top right, #31D35C, #2BB7DA);
}
.appName
{
    -fx-font-size:48;
    -fx-fill:White;
}
.description
{
    -fx-font-size:24;
    -fx-fill:White;
}
.Title
{
    -fx-font-size:36;
}
.someText
{
    -fx-font-size:16;
}
.joinNow
{
    -fx-fill: linear-gradient(to top right, #31D35C, #2BB7DA);
    -fx-font-weight:bolder;
}
.signInOrUp
{
    -fx-text-fill:White;
    -fx-font-size:18;
    -fx-background-color: linear-gradient(to right, #31D35C, #2BB7DA);
    -fx-background-radius:20;
}
.textField
{
    -fx-background-color:rgb(231,231,231);
    -fx-border:2;
    -fx-prompt-text-fill:rgb(158,160,158);
    -fx-border-color:rgb(231,231,231);
    -fx-border-radius:3;
}
.textField:focused
{
    -fx-background-color:White;
    -fx-Border-color:Black;
}
